@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reset';
@import 'lib/fontface';
@import 'lib/keyframes';
@import 'lib/bootstrap-icons'; // https://icons.getbootstrap.com/

@import 'partials/header';
@import 'partials/banner';
@import 'partials/trending-posts';
@import 'partials/posts-labels';
@import 'partials/footer';


* {
  // border: 1px solid pink;
}

:root {
  --font-base: $font_size_base;
  --font-leading-base: $line_height_base;
  --base-color: $body_color;
  --black: $black;
  --grey: $grey;
  --white: $white;
  --primary-color: $yellow;
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--font-base);
  line-height: var(--font-leading-base);
  color: var(--base-color);
  min-height: 100vh;

}

.hidden {
  display: none;
}


.footer {
  margin-top: 2rem;
}